In [1]:
#importing library
import pandas as pd

In [4]:
#loading dataset
url = 'https://raw.githubusercontent.com/theanalytix/DAInterns-CIEI/main/pandas-excercise/Salaries.csv?token=AVDSRV2C5TQIUDJ7DMZZ2ZTBOJVQW'
sal = pd.read_csv(url)

In [5]:
#cheecking the head
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [6]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [7]:
#Average Base Pay
sal['BasePay'].mean()

66325.44884050643

In [8]:
#What is the highest amount of OvertimePay in the dataset ?
sal['OvertimePay'].max()

245131.88

In [10]:
#What is the job title of JOSEPH DRISCOLL
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [11]:
#How much does JOSEPH DRISCOLL make (including benefits)
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [13]:
#What is the name of highest paid person (including benefits)?
sal['TotalPayBenefits'].max()

567595.43

In [14]:
sal[sal['TotalPayBenefits']==567595.43]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [17]:
sal.loc[0]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [18]:
#What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?
sal['TotalPayBenefits'].min()

-618.13

In [19]:
sal[sal['TotalPayBenefits']==-618.13]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

In [20]:
sal.loc[148653]
#She owes some amount to the company, extended to her maybe as a loan

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                   0.0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                     NaN
Name: 148653, dtype: object

In [22]:
#What was the average (mean) BasePay of all employees per year? (2011-2014)
grp = sal.groupby('Year')

In [23]:
grp['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [24]:
sal['JobTitle'].nunique()

2159

In [26]:
sal['JobTitle'].value_counts()

Transit Operator                                      7036
Special Nurse                                         4389
Registered Nurse                                      3736
Public Svc Aide-Public Works                          2518
Police Officer 3                                      2421
                                                      ...
PUBLIC DEFENDER                                          1
TRACK MAINTENANCE SUPERINTENDENT,MUNICIPAL RAILWAY       1
CHIEF MICROBIOLOGIST                                     1
SENIOR PHARMACY HELPER                                   1
CHIEF ELECTRICAL INSPECTOR                               1
Name: JobTitle, Length: 2159, dtype: int64

In [36]:
#DOUBT
occ_1 = sal[sal['Year']==2013]['JobTitle'].value_counts()==1
occ_1.value_counts()

False    849
True     202
Name: JobTitle, dtype: int64

In [107]:
#DOUBT
#How many people have the word Chief in their job title? 
name = sal['JobTitle'].str.split(' ',expand=True)
name.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,GENERAL,MANAGER-METROPOLITAN,TRANSIT,AUTHORITY,None,None,None,None,None,None,None,None,None
1,CAPTAIN,III,(POLICE,DEPARTMENT),None,None,None,None,None,None,None,None,None
2,CAPTAIN,III,(POLICE,DEPARTMENT),None,None,None,None,None,None,None,None,None
3,WIRE,ROPE,CABLE,MAINTENANCE,MECHANIC,None,None,None,None,None,None,None,None
4,DEPUTY,CHIEF,OF,"DEPARTMENT,(FIRE",DEPARTMENT),None,None,None,None,None,None,None,None

In [119]:
name[(name[0]=='CHIEF')]

,0,1,2,3,4,5,6,7,8,9,10,11,12
9,CHIEF,OF,"DEPARTMENT,",(FIRE,DEPARTMENT),None,None,None,None,None,None,None,None
25,CHIEF,OF,POLICE,None,None,None,None,None,None,None,None,None,None
196,CHIEF,ATTORNEY,I,(CIVIL,&,CRIMINAL),None,None,None,None,None,None,None
298,CHIEF,ATTORNEY,I,(CIVIL,&,CRIMINAL),None,None,None,None,None,None,None
299,CHIEF,ATTORNEY,I,(CIVIL,&,CRIMINAL),None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30155,CHIEF,STATIONARY,"ENGINEER,",SEWAGE,PLANT,None,None,None,None,None,None,None,None
31735,CHIEF,PREPARATOR,None,None,None,None,None,None,None,None,None,None,None
33386,CHIEF,SURVEYOR,None,None,None,None,None,None,None,None,None,None,None
34535,CHIEF,PAYROLL,AND,PERSONNEL,CLERK,None,None,None,None,None,None,None,None
35207,CHIEF,ADULT,PROBATION,OFFICER,None,None,None,None,None,None,None,None,None

In [121]:
name[(name[1]=='CHIEF')].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52 entries, 4 to 23816
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       52 non-null     object
 1   1       52 non-null     object
 2   2       52 non-null     object
 3   3       52 non-null     object
 4   4       19 non-null     object
 5   5       6 non-null      object
 6   6       3 non-null      object
 7   7       0 non-null      object
 8   8       0 non-null      object
 9   9       0 non-null      object
 10  10      0 non-null      object
 11  11      0 non-null      object
 12  12      0 non-null      object
dtypes: object(13)
memory usage: 5.7+ KB

In [ ]:
#Is there a correlation between length of the Job Title string and Salary?

In [69]:
title_len = len(sal['JobTitle'])

In [117]:
sal['TitleLen']=title_len

In [118]:
sal[['TitleLen','TotalPayBenefits']].corr()

                  TitleLen  TotalPayBenefits
TitleLen               NaN               NaN
TotalPayBenefits       NaN               1.0

In [ ]:
#not getting the answer